.about-root {
    -fx-pref-height="246.0"
    -fx-pref-width="249.0"
}

.hyperlink {
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill: green;
}

#authors {
    -fx-underline: true;
}

#title {
   -fx-font-size: 29px;
   -fx-font-family: "System Bold";
   -fx-font-weight: bold;
}