.settings-root {
    -fx-hgap: 10.0;
    -fx-vgap: 10.0;
    -fx-alignment: center;
    -fx-padding: 10.0;
}

.label {
    -fx-text-alignment: left;
}

.button {
    -fx-pref-width: 90.0;
    -fx-pref-height: 30.0;
    -fx-text-alignment: center;
}

#title {
    -fx-font-size: 230%;
}

#restore-defaults-btn {
    -fx-pref-width: 180.0;
}
